.group
  %p{:class => "group__group-name"}
    あああああああああああ
  %p{:class => "group__latest-message"}
    あああああああああああああ
.group
  %p{:class => "group__group-name"}
    あああああああああああ
  %p{:class => "group__latest-message"}
    あああああああああああああ
.group
  %p{:class => "group__group-name"}
    あああああああああああ
  %p{:class => "group__latest-message"}
    あああああああああああああ
.group
  %p{:class => "group__group-name"}
    あああああああああああ
  %p{:class => "group__latest-message"}
    あああああああああああああ
.group
  %p{:class => "group__group-name"}
    あああああああああああ
  %p{:class => "group__latest-message"}
    あああああああああああああ
.group
  %p{:class => "group__group-name"}
    あああああああああああ
  %p{:class => "group__latest-message"}
    あああああああああああああ
.group
  %p{:class => "group__group-name"}
    あああああああああああ
  %p{:class => "group__latest-message"}
    あああああああああああああ
.group
  %p{:class => "group__group-name"}
    あああああああああああ
  %p{:class => "group__latest-message"}
    あああああああああああああ
.group
  %p{:class => "group__group-name"}
    あああああああああああ
  %p{:class => "group__latest-message"}
    あああああああああああ