.group
  %p.group__group-name
    あああああああああああ
  %p.group__latest-message
    あああああああああああああ

.group
  %p.group__group-name
    あああああああああああ
  %p.group__latest-message
    あああああああああああああ

.group
  %p.group__group-name
    あああああああああああ
  %p.group__latest-message
    あああああああああああああ

.group
  %p.group__group-name
    あああああああああああ
  %p.group__latest-message
    あああああああああああああ

.group
  %p.group__group-name
    あああああああああああ
  %p.group__latest-message
    あああああああああああああ

.group
  %p.group__group-name
    あああああああああああ
  %p.group__latest-message
    あああああああああああああ

.group
  %p.group__group-name
    あああああああああああ
  %p.group__latest-message
    あああああああああああああ

.group
  %p.group__group-name
    あああああああああああ
  %p.group__latest-message
    あああああああああああああ

.group
  %p.group__group-name
    あああああああああああ
  %p.group__latest-message
    あああああああああああああ