.message
  %p.message__user-name
    ユーザー名
  %p.message__post-date
    日時
  %p.message__latest-message
    メッセージ

.message
  %p.message__user-name
    ユーザー名
  %p.message__post-date
    日時
  %p.message__latest-message
    メッセージ

.message
  %p.message__user-name
    ユーザー名
  %p.message__post-date
    日時
  %p.message__latest-message
    メッセージ

.message
  %p.message__user-name
    ユーザー名
  %p.message__post-date
    日時
  %p.message__latest-message
    メッセージ

.message
  %p.message__user-name
    ユーザー名
  %p.message__post-date
    日時
  %p.message__latest-message
    メッセージ

.message
  %p.message__user-name
    ユーザー名
  %p.message__post-date
    日時
  %p.message__latest-message
    メッセージ

.message
  %p.message__user-name
    ユーザー名
  %p.message__post-date
    日時
  %p.message__latest-message
    メッセージ

.message
  %p.message__user-name
    ユーザー名
  %p.message__post-date
    日時
  %p.message__latest-message
    メッセージ