.message
  %p{:class => "message__user-name"}
    ユーザー名
  %p{:class => "message__post-date"}
    日時
  %p{:class => "message__latest-message"}
    メッセージ
.message
  %p{:class => "message__user-name"}
    ユーザー名
  %p{:class => "message__post-date"}
    日時
  %p{:class => "message__latest-message"}
    メッセージ
.message
  %p{:class => "message__user-name"}
    ユーザー名
  %p{:class => "message__post-date"}
    日時
  %p{:class => "message__latest-message"}
    メッセージ
.message
  %p{:class => "message__user-name"}
    ユーザー名
  %p{:class => "message__post-date"}
    日時
  %p{:class => "message__latest-message"}
    メッセージ
.message
  %p{:class => "message__user-name"}
    ユーザー名
  %p{:class => "message__post-date"}
    日時
  %p{:class => "message__latest-message"}
    メッセージ
.message
  %p{:class => "message__user-name"}
    ユーザー名
  %p{:class => "message__post-date"}
    日時
  %p{:class => "message__latest-message"}
    メッセージ
.message
  %p{:class => "message__user-name"}
    ユーザー名
  %p{:class => "message__post-date"}
    日時
  %p{:class => "message__latest-message"}
    メッセージ
.message
  %p{:class => "message__user-name"}
    ユーザー名
  %p{:class => "message__post-date"}
    日時
  %p{:class => "message__latest-message"}
    メッセージ
.message
  %p{:class => "message__user-name"}
    ユーザー名
  %p{:class => "message__post-date"}
    日時
  %p{:class => "message__latest-message"}
    メッセージ